[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
asgiref = "*"
django-cors-headers = "*"
pytz = "*"
sqlparse = "*"
coreapi = "==2.3.3"
pyyaml = "==5.1"
django-rest-swagger = "*"

[dev-packages]

[requires]
python_version = "3.8"
